nav ul {
    /*横並びにする*/
    display: flex;
    /*・を消す*/
    list-style: none;
    /*右寄せにする*/
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    /*メニュー間の間隔*/
    gap: 20px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px;
    background: white;
}

.btn-border-bottom {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0;
    text-decoration: none;
    color: black;
}

.btn-border-bottom::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: #67c5ff;
    transition: .2s;
}

.btn-border-bottom:hover::before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

h1 {
    position: relative;
    /*相対位置*/
    padding-left: 1.2em;
    /*アイコン分のスペース*/
    line-height: 1.4;
    /*行高*/
    color: #7b6459;
    /*文字色*/
}

h1:before {
    font-family: "Font Awesome 5 Free";
    content: "\f1b0";
    /*アイコンのユニコード*/
    font-weight: 900;
    position: absolute;
    /*絶対位置*/
    font-size: 1em;
    /*サイズ*/
    left: 0;
    /*アイコンの位置*/
    top: 0;
    /*アイコンの位置*/
    color: #ff938b;
    /*アイコン色*/
}

h2 {
    color: #364e96;
    /*文字色*/
    border: solid 3px #364e96;
    /*線色*/
    padding: auto auto;
    /*文字周りの余白*/
    margin-top: 100px;
    text-align: center;
}

#twitter-ico {
    font-size: 50px;
    color: lightblue;
}

#qr-ico {
    width: 50px;
    height: auto;
}

body {
    background: lightgray;
}

.marquee-right {
	overflow: hidden;
}
.marquee-right ul {
	animation: marquee-right 40s linear infinite; /* 20s スクロール1回にかかる秒数 */
	display: flex;
	margin: 0;
	padding: 0;
	width: max-content;
}
.marquee-right ul li {
	list-style: none;
	padding: 0 5px; /* 余白 */
	width: calc(100vw / 3 - 10px); /* 3 写真の枚数にあわせる */
}
.marquee-right img {
	display: block;
	width: 100%;
}
@keyframes marquee-right {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}