nav ul {
    /*横並びにする*/
    display: flex;
    /*・を消す*/
    list-style: none;
    /*右寄せにする*/
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    /*メニュー間の間隔*/
    gap: 20px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px;
    background: white;
}

.btn-border-bottom {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0;
    text-decoration: none;
    color: black;
}

.btn-border-bottom::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: #67c5ff;
    transition: .2s;
}

.btn-border-bottom:hover::before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

h1 {
    position: relative;
    /*相対位置*/
    padding-left: 1.2em;
    /*アイコン分のスペース*/
    line-height: 1.4;
    /*行高*/
    color: #7b6459;
    /*文字色*/
}

h1:before {
    font-family: "Font Awesome 5 Free";
    content: "\f1b0";
    /*アイコンのユニコード*/
    font-weight: 900;
    position: absolute;
    /*絶対位置*/
    font-size: 1em;
    /*サイズ*/
    left: 0;
    /*アイコンの位置*/
    top: 0;
    /*アイコンの位置*/
    color: #ff938b;
    /*アイコン色*/
}

h2 {
    color: #364e96;
    /*文字色*/
    border: solid 3px #364e96;
    /*線色*/
    padding: auto auto;
    /*文字周りの余白*/
    margin-top: 100px;
    text-align: center;
}

#twitter-ico {
    font-size: 50px;
    color: lightblue;
}

#qr-ico {
    width: 50px;
    height: auto;
}

body {
    background: lightgray;
}

.grid {
    display: grid;

    /* 横に3列並べる */
    grid-template-columns: repeat(3, 1fr);

    /* 要素同士の間隔 */
    gap: 20px;

    /* 中央寄せ（全体） */
    max-width: 1000px;
    margin: 0 auto;
}

.item {
    display: block;
    /* aタグをdivみたいに */
    background: #f0f0f0;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.itemtag {
    display: inline-block;
    padding: 4px 10px;
    background: #ffeb3b;
    border: solid 2px;
    border-radius: 999px;
    /* pill型 */
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* hover時 */
.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.pager {
    display: flex;
    flex-wrap: warp;
    justify-content: center;
    /* 中央寄せ */
    align-items: center;
    gap: 8px;
    /* ボタン間の隙間 */
    margin-top: 20px;
    font-family: Arial;
}

.pager button {
    padding: 6px 12px;
    border: none;
    border-radius: 50%;
    background: #eee;
    cursor: pointer;
    transition: 0.2s;
}

.pager button:hover {
    background: #505050;
    color: white;
}

.page-btn.active {
    background: #505050;
    color: white;
    font-weight: bold;
}

.page-btn:disabled {
    cursor: default;
    opacity: 0.5;
}