/*
    �Z���N�^�ƃv���p�e�B�ƒl�ɕ�����Ă���
*/
body {
    color: gray;
}

/*
    id�������Ƃ���#��t����
*/
#headline {
    color: blue;
    text-align:center;
}

/*
    �N���X���������Ƃ���.��t����
*/
.temp {
    color: red;
}

/*
    ��ʂɎw����ł���
*/
#hoge, #poyo {
    color: black;
}

/*
    �q���Z���N�^
    ����́u�����^�O���ɂ�������^�O�ɂ����f�U�C����K�p���������v�Ƃ��Ɏg�����̂ł��B
*/
body #headline h1 {
    color: orange;
}

body #headline p .light {
    color: black;
    font-size: 50px;
}

/*
    �t�H���g�T�C�Y�n
*/
.px {
    font-size: 20px;
    color: #000000;
}

.em {
    font-size: 1.2em;
    color: orange;
}

/*
    �t�H���g�̈ʒu�n
*/
.center {
    text-align: center;
}

.right {
    text-align: right;
}

/*
    �w�i�F
*/
.temp2 {
    background-color: #b6ecff;
}

/*
    ��������(�͂�)
*/
.solid {
    border: solid 2px gray;
}

.dotted {
    border: dotted 2px gray;
}

.dashed {
    border: dashed 2px gray;
}

.double {
    border: double 2px gray;
}

.solid1px {
    border: solid 1px gray;
}

/*
    �ǂ��ɐ����������w��
*/
.rei1 {
    border-top: solid 2px #FFA07A;
    border-left: solid 2px #FFA07A;
}

.rei2 {
    border-bottom: solid 2px #FFA07A;
    border-right: solid 2px #FFA07A;
}

/*������*/
.parent {
    width: 50%;
    background: yellow;
}

#whB_test {
    color: black;
}

.grandpa {
    width: 200px;
    background: silver;
}

.parent p {
    width: 50%;
    background: orange;
}

.koyo img {
    width: 200px;
}

.yt-btn {
    background: #ff0000; /*�w�i�F*/
    color: white; /*�����̐F*/
    font-size: 18px; /*�����̑傫��*/
    padding: 12px 24px; /*�����̗]��(�{�^���̑傫��)*/
    border-radius: 6px; /*�p���ۂ������*/
    border: solid; /*�g���̐ݒ�*/
    border-color:black;
    /*-box-shadow: 0 4px 0 #880000; /*�e�͂ǂꂭ�炢��*/
    font-weight: bold; /**/
    cursor: pointer; /*�}�E�X�J�[�\��*/
    transition: 0.2s; /*�A�j���[�V����*/
}

    .yt-btn:hover {
        background-color: white;
        color: #ff0000;
        transform: scale(1.05);
    }

    .yt-btn:active {
        transform: translateY(4px);
        box-shadow: none;
    }

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 3列 */
  gap: 30px; /* 画像の隙間 */
  max-width: 1000px;
  margin: 0 auto; /* 中央寄せ */
  padding: 40px 0;
}

.item img {
  width: 100%; /* 枠いっぱいに画像 */
  display: block;
}

.item p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

#twitter{
    font-size:50px;
    color:lightblue;
}

#youtube{
    font-size: 50px;
    color:red;
}

.container{
    max-width:1000px;
    margin:0 auto;
    padding:0 30px;/*スマホ余白*/
}